#about {
  padding-block: 6.5rem 5.5rem;

  & .title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;

    & svg {
      width: 1.25rem;
      height: 1.25rem;

      background-color: transparent;
      filter: drop-shadow(0px 0px 22px var(--pink-base));
    }
  }

  & p {
    text-align: center;
    margin-top: 0.5rem;
    font: var(--body-sm);
  }

  & .book-kit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 64px;

    position: relative;
    height: 319px;

    & > * {
      position: absolute;

      &.book {
        width: 158px;
        height: 208px;
        z-index: 1;
      }

      &:not(.book) {
        max-height: 180px;
        width: auto;
        z-index: -1;
      }

      &.bookmark-yellow {
        width: 58px;

        animation: bookmark-yellow-animation cubic-bezier(0.36, 0.01, 0, 1.25) forwards;
        animation-timeline: view();
        animation-range: 120px 300px;
      }

      &.bookmark-purple {
        width: 58px;
        z-index: -2;

        animation: bookmark-purple-animation cubic-bezier(0.36, 0.01, 0, 1.25) forwards;
        animation-timeline: view();
        animation-range: 120px 300px;
      }

      &.pins {
        width: 75px;
        height: 85px;

        animation: pins-animation cubic-bezier(0.36, 0.01, 0, 1.25) forwards;
        animation-timeline: view();
        animation-range: 100px 250px;
      }

      &.arrow-01 {
        width: 58px;
        height: 10px;

        animation: arrow-01-animation cubic-bezier(0.36, 0.01, 0, 1.25) forwards;
        animation-timeline: view();
        animation-range: 50px 210px;
      }

      &.book-text-01 {
        animation: book-text-01-animation cubic-bezier(0.36, 0.01, 0, 1.25) forwards;
        animation-timeline: view();
        animation-range: 20px 210px;
      }

      &.arrow-02 {
        width: 35px;
        height: 42px;

        animation: arrow-02-animation cubic-bezier(0.36, 0.01, 0, 1.25) forwards;
        animation-timeline: view();
        animation-range: 80px 230px;
      }

      &.book-text-02 {
        animation: book-text-02-animation cubic-bezier(0.36, 0.01, 0, 1.25) forwards;
        animation-timeline: view();
        animation-range: 50px 210px;
      }

      &.arrow-03 {
        width: 49px;
        height: 51px;

        animation: arrow-03-animation cubic-bezier(0.36, 0.01, 0, 1.25) forwards;
        animation-timeline: view();
        animation-range: 100px 230px;
      }

      &.book-text-03 {
        animation: book-text-03-animation cubic-bezier(0.36, 0.01, 0, 1.25) forwards;
        animation-timeline: view();
        animation-range: 80px 210px;
      }
    }
    
    & span {
      font: 400 0.625rem var(--raleway);
      color: var(--text-body);
    }

    &::before {
      content: "";
      position: absolute;
      width: 50%;
      height: 50%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      filter: blur(350px);
      background-color: var(--pink-low);
      z-index: -3;
    }
  }
}

@keyframes bookmark-yellow-animation {
  to {
    translate: 88px -44px;
    rotate: 10deg;
  }
}

@keyframes bookmark-purple-animation {
  to {
    translate: 121px -8px;
    rotate: 19deg;
  }
}

@keyframes pins-animation {
  to {
    translate: -88px 88px;
    rotate: -10deg;
  }
}

@keyframes arrow-01-animation {
  to {
    translate: -96px -105px;
  }
}

@keyframes book-text-01-animation {
  to {
    translate: -126px -122px;
  }
}

@keyframes arrow-02-animation {
  to {
    translate: -125px 39px;
  }
}

@keyframes book-text-02-animation {
  to {
    translate: -126px 5px;
  }
}

@keyframes arrow-03-animation {
  to {
    translate: 108px 98px;
  }
}

@keyframes book-text-03-animation {
  to {
    translate: 86px 131px;
  }
}


@media (width >= 80em) {
  #about {
    padding-block: 14.6875rem 17.375rem;

    & .title {
      gap: 1rem;
  
      & img {
        width: 2rem;
        height: 2rem;
      }
    }

    & p {
      font: var(--body-md);
    }

    & .book-kit {
      margin-top: 88px;

      height: 920px;

      & > * {
        animation: none !important;
        transition: all 800ms cubic-bezier(0.36, 0.01, 0, 1.25);

        &.book {
          width: 467px;
          height: 617px;
        }

        &:not(.book) {
          max-height: 536px;
        }

        &.bookmark-yellow {
          width: 172px;
        }

        &.bookmark-purple {
          width: 172px;
          z-index: -2;
        }

        &.pins {
          width: 222px;
          height: 254px;
        }

        &.arrow-01 {
          width: 175px;
          height: 30px;
        }

        &.arrow-02 {
          width: 105px;
          height: 127px;
        }

        &.arrow-03 {
          width: 145px;
          height: 152px;
        }
      }

      & span {
        font: var(--body-md);
        color: var(--text-title);
      }

      &:hover {
        & > * {
          &.bookmark-yellow {
            translate: 260px -130px;
            rotate: 10deg;
          }

          &.bookmark-purple {
            translate: 360px -25px;
            rotate: 19deg;
          }

          &.pins {
            translate: -260px 260px;
            rotate: -10deg;
          }

          &.arrow-01 {
            translate: -285px -310px;
          }

          &.book-text-01 {
            translate: -375px -350px;
          }

          &.arrow-02 {
            translate: -370px 115px;
          }

          &.book-text-02 {
            translate: -375px 15px;
          }

          &.arrow-03 {
            translate: 320px 290px;
          }

          &.book-text-03 {
            translate: 255px 390px;
          }
        }
      }
    }
  }
}