*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --pink-light: #C59DD2;
  --pink-base: #9547A5;
  --pink-dark: #7D298A;
  --pink-low: #3F0F41;

  --blue-light: #73B6D2;
  --blue-base: #358BB9;
  --blue-mid: #2374A4;
  --blue-dark: #144A72;
  --blue-low: #08233C;

  --shape-stroke: #002347;
  --shape-hover: #001933;
  --shape-base: #000F1F;
  --shape-background: #00050A;

  --text-title: #F8FBFB;
  --text-body: #E2E7E9;
  --text-label: #BAC6C9;

  --raleway: "Raleway", sans-serif;

  --title-lg: 600 3rem var(--raleway);
  --title-md: 600 2.5rem var(--raleway);
  --title-sm: 600 2rem var(--raleway);
  --title-xs: 600 1rem var(--raleway);
  --subtitle: 500 2rem/2 var(--raleway);
  --body-lg: 400 1.25rem/1.4 var(--raleway);
  --body-md: 400 1rem/1.4 var(--raleway);
  --body-sm: 400 0.875rem/1.4 var(--raleway);
  --body-xs: 400 0.75rem/1.4 var(--raleway);
  --button: 600 0.875rem var(--raleway);
  --link: 500 0.875rem var(--raleway);
  --tag: 600 0.625rem var(--raleway);

}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--shape-background);
  color: var(--text-body);
}

.container {
  position: relative;
  margin-inline: auto;
  max-width: 1440px;

  border: 1px solid deeppink;
}

.container > *:not(#about):not(.hero-background):not(#pricing):not(.footer-background) {
  padding-inline: 1.25rem;
}

.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  z-index: -1;

  & img {
    min-height: 464px;
    object-fit: cover;
  }
}

.footer-background {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: -1;

  object-fit: cover;
}

.desktop-only {
  display: none;
}

h1, h2, h3 {
  color: var(--text-title);
}

h1 {
  font: var(--title-lg);
  font-size: 1.75rem;
}

h2 {
  font: var(--title-sm);
  font-size: 1.5rem;
}

h3 {
  font: var(--title-md);
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: 100%;
}

p {
  font: var(--body-lg);
}

button {
  font: var(--button);
  color: var(--text-title);
  border: none;

  cursor: pointer;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.gap-16 {
  gap: 1rem;
}

.gap-32 {
  gap: 2rem;
}

ul[role="list"] {
  list-style: none;
}

li {
  font: var(--body-xs);
  color: var(--text-body);
}

@media (width >= 80em) {
  .container > *:not(#about):not(.hero-background):not(#pricing):not(.footer-background) {
    padding-inline: 10rem;
  }

  .desktop-only {
    display: inline-block;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }
}