#hero {
  padding-block: 1.25rem 0;

  position: relative;

  & nav {
    justify-content: space-between;

    & .logo {
      height: 3rem;
    }

    & button {
      align-items: center;
      justify-content: center;
      padding: 0.75rem 1.25rem;
      border-radius: 0.5rem;
      background-color: var(--pink-dark);
      max-height: 2.5rem;
    }
  }

  & .title {
    max-width: 35.5rem;
    text-align: center;
    margin-top: 3rem;
    margin-inline: auto;

    & h1 {
      opacity: 0;
      animation: show-content 2500ms 1000ms ease-in-out forwards;
    }
    
    & p {
      font-size: 0.875rem;
      opacity: 0;
      animation: show-content 2000ms 2200ms ease-in-out forwards;
    }
  }

  & section {
    height: 15.6875rem;
    margin-top: 12.875rem;
    padding-top: 5rem;
    position: relative;

    & .subtitle {
      text-align: center;
      font: var(--subtitle);
      font-size: 1rem;
      line-height: 1.4;

      & div {
        display: inline;
        color: var(--text-body);
        opacity: 0.5;

        & span {
          font-weight: 600;
        }
      }
    }

    & .book {
      width: 2.5rem;
      height: 2.5rem;
      rotate: 15deg;
      
      position: absolute;
      top: -3.125rem;
      right: 21%;
      opacity: 0;
    }

    & .ball {
      width: 2.5rem;
      height: 2.5rem;
      rotate: 15deg;

      position: absolute;
      bottom: -3.125rem;
      right: 7%;
      opacity: 0;
    }

    & .ouija {
      width: 2rem;
      height: 2rem;
      rotate: -30deg;
      
      position: absolute;
      bottom: -1.25rem;
      opacity: 0;
    }

    &::before {
      content: "";
      position: absolute;
      width: 50%;
      height: 50%;
      left: 0;
      bottom: 0;
      filter: blur(21.875rem);
      background-color: var(--pink-low);
      z-index: -3;
    }
  }
  
  &::before {
    content: "";
    position: absolute;
    width: 30%;
    height: 30%;
    left: 0;
    bottom: 55rem;
    filter: blur(18.75rem);
    background-color: var(--pink-low);
    z-index: -3;
  }

  &::after {
    content: "";
    position: absolute;
    width: 40%;
    height: 40%;
    right: 0;
    bottom: 45rem;
    filter: blur(25rem);
    background-color: var(--pink-low);
    z-index: -3;
  }
}

@media (width >= 80em) {
  #hero {
    padding-block: 3.5rem 14.875rem;

    & .logo > img:last-child {
      display: none;
    }

    & .title {
      max-width: 41rem;
      margin-top: 10.25rem;
      gap: 2rem;

      & p {
        font-size: 1.25rem;
      }
    }

    & section {
      height: 25rem;
      margin-top: 35.375rem;
      padding-top: 6.25rem;

      & .subtitle {
        font-size: 2rem;
        line-height: 2;
      }

      & .book {
        width: 5rem;
        height: 5rem;
        rotate: 21deg;
        
        position: absolute;
        top: 0;
        right: 50%;
        transform: translateX(50%);
        transition: all 1s ease;
      }
  
      & .ball {
        width: 4.5rem;
        height: 4.5rem;
        rotate: -15deg;
  
        position: absolute;
        bottom: 6.25rem;
        right: -5%;
        transition: opacity 1s ease, transform 1s ease;
      }
  
      & .ouija {
        width: 5rem;
        height: 5rem;
        rotate: 100deg;
        
        position: absolute;
        bottom: 5rem;
        transition: opacity 1s ease, transform 1s ease;
      }

      & .book-animation {
        transition: opacity 1s ease;

        & span {
          transition: color 1s ease;
        }
      }

      & .ball-animation {
        transition: opacity 1s  ease;

        & span {
          transition: color 1s ease;
        }
      }

      & .ouija-animation {
        transition: opacity 1s  ease;

        & span {
          transition: color 1s ease;
        }
      }

      &:hover {
        & .book {
          opacity: 1;
  
          &:hover {
            transform: rotate(10deg) translateX(50%) scale(1.1);
          }
        }
  
        & .book-animation {
          opacity: 1;
  
          & span {
            color: var(--blue-light);
          }
        }
    
        & .ball {
          opacity: 1;
          transition: opacity 1s 1600ms ease;

  
          &:hover {
            transform: rotate(10deg) scale(1.1);
          }
        }
  
        & .ball-animation {
          opacity: 1;
          transition: opacity 1s 1600ms ease;
  
          & span {
            color: var(--blue-light);
            transition: color 1s 1600ms ease;
          }
        }
    
        & .ouija {
          opacity: 1;
          transition: opacity 1s 800ms ease;
  
          &:hover {
            transform: rotate(10deg) scale(1.1);
          }
        }
  
        & .ouija-animation {
          opacity: 1;
          transition: opacity 1s 800ms ease;
  
          & span {
            color: var(--blue-light);
            transition: color 1s 800ms ease;
          }
        }
      }
    }

    & nav {
      & button {
        position: relative;
        z-index: 0;
        overflow: hidden;

        &::before {
          background-color: var(--pink-base);
          content: "";
          width: 0;
          height: 0;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          transition: all 400ms ease;
          z-index: -1;
        }

        &:hover::before {
          width: 6.25rem;
          height: 6.25rem;
          border-radius: 999px;
        }
      }
    }
  }
}

@keyframes show-content {
  100% {
    opacity: 1;
  }
}