#pricing {
  padding-block: 6.5rem;

  background: url(../assets/background/pricing-background.png);
  background-size: auto 44.5rem;
  background-repeat: repeat;
  background-position: center;

  overflow-x: auto;
  position: relative;
  
  & .title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  & .cards-wrapper {
    width: 100%;
    max-width: fit-content;
    height: 25rem;
    margin-top: 3rem;
    margin-inline: auto;
    padding-inline: 3.25rem;
    display: grid;
    grid-template-areas: "mensal semestral anual";
    align-items: center;
    gap: 1rem;
    overflow-x: auto;

    & .card {
      background-color: var(--shape-base);
      border: 1px solid var(--shape-stroke);
      border-radius: 1.5rem;
      height: 100%;
      
      & .inner-card {
        height: 100%;
        width: 17.375rem;
        
        padding: 2rem 2rem 1.75rem;
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        position: relative;
      
        & .header {
          & span {
            font: var(--title-xs);
            color: var(--blue-light);

            &.tag {
              text-transform: uppercase;
              font: var(--tag);
              color: var(--text-body);
              background-color: var(--shape-stroke);
              padding: 0.5625rem 1.25rem;
              border-radius: 999px;
              
              position: absolute;
              top: 1.5rem;
              right: 1.5rem;
            }
          }

          & .price {
            margin-top: 1.5rem;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            & h3 span {
              color: var(--text-title);
            }

            & small {
              font: var(--body-sm);
              color: var(--text-label);
            }
          }
        }
      }

      &:nth-child(1) {
        grid-area: mensal;
      }

      &:nth-child(2) {
        grid-area: anual;
      }

      &:nth-child(3) {
        grid-area: semestral;
        background-color: var(--shape-hover);
        
        & .inner-card {
          & .header {
            & span {
              color: var(--pink-light);
            }
          }
          & .details {
            & button {
              background-color: var(--pink-dark);
            }
          }
        }
      }
    }

    & .details {
      & .items {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        
        & .item {
          display: flex;
          gap: 0.5rem;
          
          & img {
            width: 0.875rem;
            height: 0.875rem;
          }
        }
      }

      & button {
        width: 100%;
        max-height: 2.5rem;
        margin-top: 1.5rem;

        font: var(--button);
        color: var(--text-title);

        padding-block: 0.75rem;
        border-radius: 0.5rem;
        background-color: var(--blue-dark);
      }
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 60%;
    height: 60%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    filter: blur(12.5rem);
    background-color: var(--shape-base);
    z-index: -3;
  }
}

@media (width >= 80em) {
  #pricing {
    padding-block: 12.125rem 18.875rem;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: visible;

    & .cards-wrapper {
      max-width: 65.625rem;
      height: 37.875rem;
      margin-top: 3.5rem;
      margin-left: 0;
      margin-inline: auto;
      display: flex;
      justify-content: center;

      position: relative;

      & .card {
        width: 18rem;
        height: 26rem;
        margin-top: -3.125rem;

        position: absolute;
        transition: all 600ms ease;

        &:not(:nth-child(3)) {
          z-index: 0;

          & .details {
            & button {
              position: relative;
              overflow: hidden;
              z-index: 0;

              &::before {
                background-color: var(--blue-mid);
                content: "";
                width: 0;
                height: 0;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                transition: all 400ms ease;
                z-index: -1;
              }
      
              &:hover::before {
                width: 15.625rem;
                height: 15.625rem;
                border-radius: 999px;
              }
            }
          }
        }

        & .inner-card {
          width: 100%;
          height: 100%;
        }
          
        &:nth-child(1) {
          & .card-detail {
            position: absolute;
            transition: rotate 600ms;
          
            &:nth-child(3) {
              width: 1.625rem;
              height: 1.625rem;
              top: -1.625rem;
              left: -1.625rem;
            }

            &:nth-child(4) {
              width: 0.8125rem;
              height: 0.8125rem;
              top: 0.8125rem;
              left: -1.875rem;
            }
          }
        }

        &:nth-child(3) {
          z-index: 2;
          
          & .card-detail {
            position: absolute;
          
            &:nth-child(3) {
              width: 2.8125rem;
              height: 3.125rem;
              top: -3.125rem;
              left: 2rem;
            }
          }

          & .details {
            & button {
              position: relative;
              overflow: hidden;
              z-index: 0;

              &::before {
                background-color: var(--pink-base);
                content: "";
                width: 0;
                height: 0;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                transition: all 400ms ease;
                z-index: -1;
              }
      
              &:hover::before {
                width: 15.625rem;
                height: 15.625rem;
                border-radius: 999px;
              }
            }
          }
        }

        &:nth-child(2) {
          & .card-detail {
            position: absolute;
            transition: rotate 600ms;
            
            &:nth-child(3) {
              width: 1.4375rem;
              height: 1.4375rem;
              bottom: -1rem;
              right: -3.125rem;
            }

            &:nth-child(4) {
              width: 0.6875rem;
              height: 0.6875rem;
              bottom: -1.4375rem;
              right: 0;
            }
          }
        }

        &:hover {
          margin-top: -5rem;
            
          background-color: var(--shape-hover);
          box-shadow: 0px 0px 4.125rem rgba(53, 139, 185, 0.1);

          &:nth-child(1):hover ~ .card:nth-child(3),
          &:nth-child(2):hover ~ .card:nth-child(3) {
            background-color: var(--shape-base);
          }

          &:nth-child(1) {
            & .card-detail {
              &:nth-child(3) {
                rotate: -20deg;
              }

              &:nth-child(4) {
                rotate: 20deg;
              }
            }
          }

          &:nth-child(2) {
            & .card-detail {
              &:nth-child(3) {
                rotate: 20deg;
              }

              &:nth-child(4) {
                rotate: -20deg;
              }
            }
          }
        }
      }
    }
  }
  
  .mensal-animated {
    animation: mensal-card-animation 1s cubic-bezier(0.36, 0.01, 0, 1.25) forwards;
  }
  
  .anual-animated {
    animation: anual-card-animation 1s cubic-bezier(0.36, 0.01, 0, 1.25) forwards;
  }
  
  @keyframes mensal-card-animation {
    to {
      translate: -18.125rem 3.75rem;
      rotate: -8deg;
    }  
  }
  
  @keyframes anual-card-animation {
    to {
      translate: 18.125rem 3.75rem;
      rotate: 8deg;
    }  
  }
}


